<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mynewproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyNewProject"
        tools:node="merge"
        tools:replace="android:allowBackup">
       <!-- <activity
            android:name=".activities.ListeningActivity"
            android:exported="false" />-->
        <!--
          <activity
            android:name=".activities.VedioViewActivity"
            android:exported="false" />
        -->
        <!--
          <activity
            android:name=".activities.LiveClassess"
            android:exported="false" />
        -->
        <!--
         <activity
            android:name=".activities.VideoCourses"
            android:exported="false" />
        -->
        <activity
            android:name=".vocabulary.Vocabulary"
            android:exported="false" />
        <!--
          <activity
            android:name=".listening.Listening"
            android:exported="false" />
        -->
        <!--
          <activity
            android:name=".reading.ReadingActivity"
            android:exported="false" />
        -->
        <!--
          <activity
            android:name=".speaking.cuecards.CureCardRecording"
            android:exported="false" />
        -->
        <!--
         <activity
            android:name=".speaking.cuecards.CueCards1"
            android:exported="false" />
        -->
        <!--
             <activity
            android:name=".speaking.intoduction.Introduction"
            android:exported="false" />
        -->
        <activity
            android:name=".writing.answer.EditAnswer"
            android:exported="false" />
        <activity
            android:name=".writing.answer.AnswerActivity"
            android:exported="false" />
        <activity
            android:name=".writing.graphs.graphs.GraphsActivity"
            android:exported="false" />
        <activity
            android:name=".writing.essay.essay.EssayActivity"
            android:exported="false" />
        <activity
            android:name=".writing.graphs.GraphsActivity"
            android:exported="false" />
        <activity
            android:name=".writing.essay.EssayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EnterPasscodeActivity"
            android:exported="false" />
        <activity
            android:name=".complete_profile.CPActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".on_boarding.OBActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VedioViewActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>